{% load static %}
<head>
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<link href='https://fonts.googleapis.com/css?family=IBM Plex Mono' rel='stylesheet'>
</head>

<body>
<nav>
    <a href=""><img src= "static/polls/images/logo-ku-polls-latest.png" alt="logo" class="center"></a>
    <ul class="nav-menu">
        <li><a href="" style="text-decoration: none;">Question</a></li>
        <li><a href="signup/">signup</a></li>
        <li><a href="accounts/login" style="text-decoration: none;">login</a></li>
        <li><img src="static/polls/images/dark-light.png" alt="mode" width="60"></li>
    </ul>
   
</nav>

<hr>
<div class= "topic">
    <h1>available polls and survey questions</h1>
</div>

{% if latest_question_list %}
    <ul style="list-style-type: none;">
    {% for question in latest_question_list %}
    {% if question.can_vote %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
        <a href="{% url 'polls:results' question.id %}" style="color: #3E92A3" ><small>view results</small></a>
    </li>
    {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>