{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<link href='https://fonts.googleapis.com/css?family=IBM Plex Mono' rel='stylesheet'>

<header>
    <div class="navbar">
        <div id= "nav-container">
            <img src= "static/polls/images/logo-ku-polls-latest.png" alt="logo" class="center" >
            <ul>
                <li><a href="" style="text-decoration: none;">Question</a></li>
                <li><a href="signup/">signup</a></li>
                <li><a href="accounts/login" style="text-decoration: none;">login</a></li>
                <li><img src="static/polls/images/dark-light.png" alt="mode" width="60" class=""></li>
            </ul>
        </div>
    </div>
</header>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    {% if question.can_vote %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
        <a href="{% url 'polls:results' question.id %}"> view results</a>
    </li>
    {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}